<html>
  <head>
    <style>
      body {
        text-align: center;
        background-color: #d3d3d3;
      }
    </style>
  </head>
  <body>
    {% for metal in prices %}
      {% if metal != 'last' %}
        {{ metal.capitalize() }} : {{ prices[metal] }}<br>
      {% endif %}
    {% endfor %}
    <br>Last price update : {{ prices['last'] }}
  </body>
  <footer>
    <p>Copyright 2015 Sean Beck</p>
    <p>If you have an issue, please report is on Github</p>
    <iframe src="https://ghbtns.com/github-btn.html?user=ThaWeatherman&repo=spot_price&type=star&count=true&size=large" frameborder="0" scrolling="0" width="160px" height="30px"></iframe>
  </footer>
</html>
