<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <title>PM Spot Price</title>
  </head>
  <body>
    <div class="prices">
    {% for metal in prices %}
      {% if metal != 'last' %}
        {{ metal.capitalize() }} : {{ prices[metal] }}<br>
      {% endif %}
    {% endfor %}
    </div>
    <br>Last price update : {{ prices['last'] }} UTC<br><br><br>
    Querying the API is simple. Use /api/&lt;metal&gt; where "metal" is one of gold, silver, platinum, palladium, or all.<br>
  </body>
  <hr>
  <footer>
    Copyright 2015 Sean Beck | 
    If you have an issue, please report it on Github | 
    Donate LTC LeeN4EBRtTdNj2M1K29DxuyuhGoBkPCL1o | 
    <a href="https://github.com/ThaWeatherman/spot_price">Github</a>
  </footer>
</html>
