<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <title>PM Spot Price</title>
  </head>
  <body>
    <div class="prices">
    {% for metal in prices %}
      {% if metal != 'last' %}
        {{ metal.capitalize() }} : {{ prices[metal] }}<br>
      {% endif %}
    {% endfor %}
    </div>
    <br>Last price update : {{ prices['last'] }} UTC<br><br><br>
    Querying the API is simple. Use /api/&lt;metal&gt; where "metal" is one of gold, silver, platinum, palladium, or all.<br><br><br>
  </body>
  <footer>
    Copyright 2015 Sean Beck | 
    If you have an issue, please report it on Github | 
    <iframe src="https://ghbtns.com/github-btn.html?user=ThaWeatherman&repo=spot_price&type=star&count=true&size=large" frameborder="0" scrolling="0" width="160px" height="30px"></iframe>
  </footer>
</html>
